# =========================
# ANGULAR
# =========================
node_modules/
.angular/
dist/
tmp/
out-tsc/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# LOG FILES
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# ENVIRONMENT FILES
# =========================
.env

# =========================
# JAVA / SPRING BOOT
# =========================
target/
*.class
*.jar
*.war

# =========================
# IDE FILES
# =========================
.idea/
*.iml

# =========================
# CACHE FILES
# =========================
.cache/