<div class="container">

    <div class="text-center mt-4 mb-5">

        <h1 class="text-primary fw-bold">
            Hospital Management System
        </h1>

        <p class="lead">
            Welcome to Smart Hospital Dashboard
        </p>

    </div>

    <div class="row g-4">

        <!-- Doctors -->

        <div class="col-md-4">

            <div class="card bg-success text-white shadow p-4 text-center">

                <h3>
                    Doctors
                </h3>

                <h1>
                    5
                </h1>

            </div>

        </div>

        <!-- Patients -->

        <div class="col-md-4">

            <div class="card bg-danger text-white shadow p-4 text-center">

                <h3>
                    Patients
                </h3>

                <h1>
                    {{displayPatients}}
                </h1>

            </div>

        </div>

        <!-- Appointments -->

        <div class="col-md-4">

            <div class="card bg-warning text-dark shadow p-4 text-center">

                <h3>
                    Appointments
                </h3>

                <h1>
                    5
                </h1>

            </div>

        </div>

        <!-- Rooms -->

        <div class="col-md-4">

            <div class="card bg-info text-white shadow p-4 text-center">

                <h3>
                    Rooms Available
                </h3>

                <h1>
                    1
                </h1>

            </div>

        </div>

        <!-- Emergency -->

        <div class="col-md-4">

            <div class="card bg-dark text-white shadow p-4 text-center">

                <h3>
                    Emergency Cases
                </h3>

                <h1>
                    1
                </h1>

            </div>

        </div>

        <!-- Revenue -->

        <div class="col-md-4">

            <div class="card bg-primary text-white shadow p-4 text-center">

                <h3>
                    Revenue
                </h3>

                <h1>
                    ₹50K
                </h1>

            </div>

        </div>

    </div>

</div>

<!-- <div class="card shadow p-4 mt-5">
`
    <h2 class="text-center mb-4">
        Hospital Analytics
    </h2>

    <canvas id="myChart"></canvas>

</div> -->