<div class="container mt-4">

    <h2 class="text-success mb-4">Doctor Dashboard</h2>

    <div class="row g-3">

        <div class="col-md-6">
            <div class="card p-3 bg-primary text-white text-center">
                <h4>My Appointments</h4>
                <button class="btn btn-light mt-2">View</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3 bg-info text-white text-center">
                <h4>Patients</h4>
                <button class="btn btn-light mt-2">My Patients</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3 bg-warning text-dark text-center">
                <h4>Prescriptions</h4>
                <button class="btn btn-dark mt-2" routerLink="/prescription">
                    Create Prescription
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3 bg-dark text-white text-center">
                <h4>Reports</h4>
                <button class="btn btn-light mt-2" routerLink="/reports">
                    View Reports
                </button>
            </div>
        </div>

    </div>
</div>