<!-- <div class="container">

    <h1>
        <span class="typing"></span>
    </h1>

</div> -->

<!-- <div class="hero">

  <div class="stars"></div>

  <div class="content">
    <h1 class="floating-name">RAAJ</h1>

    <p class="subtitle">
      Angular Developer • Creative Designer • Future Full Stack Engineer
    </p>

    <button>Explore</button>
  </div>

</div> -->

<!-- <div class="hero">

    <div class="content">
        <h1>RAAJ</h1>
        <p>Wave Animation Design</p>
    </div>

    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>

</div> -->

<div class="scene">

    <!-- Floating bubbles -->
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>

    <!-- Main Card -->
    <div class="glass-card">

        <h1 class="name">Ronnie</h1>

        <p class="tagline">
             
        </p>

        <div class="buttons">

            <button>Portfolio</button>
            <button>Projects</button>

        </div>

        <!-- Interactive Glow -->
        <div class="glow"></div>

    </div>

</div>