<div class="container">

    <div class="card shadow p-5 mt-4 border-danger">

        <h2 class="text-center text-danger mb-4">
            Emergency Contact
        </h2>

        <div class="alert alert-danger text-center">

            <h4>
                Emergency Helpline: 108
            </h4>

        </div>

        <label class="form-label">
            Patient Name
        </label>

        <input type="text" class="form-control mb-3" placeholder="Enter Patient Name">

        <label class="form-label">
            Emergency Type
        </label>

        <input type="text" class="form-control mb-3" placeholder="Enter Emergency Type">

        <label class="form-label">
            Contact Number
        </label>

        <input type="number" class="form-control mb-4" placeholder="Enter Contact Number">

        <button class="btn btn-danger w-100">
            Call Emergency
        </button>

    </div>

</div>