<div class="container mt-4">

    <h2 class="text-danger mb-4">Patient Dashboard</h2>

    <div class="row g-3">

        <div class="col-md-6">
            <div class="card p-3 bg-success text-white text-center">
                <h4>Book Appointment</h4>
                <button class="btn btn-light mt-2" routerLink="/appointment">
                    Book Now
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3 bg-warning text-dark text-center">
                <h4>Billing</h4>
                <button class="btn btn-dark mt-2" routerLink="/billing">
                    Pay Bill
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3 bg-info text-white text-center">
                <h4>Prescription</h4>
                <button class="btn btn-light mt-2" routerLink="/prescription">
                    View Prescription
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3 bg-dark text-white text-center">
                <h4>Reports</h4>
                <button class="btn btn-light mt-2" routerLink="/reports">
                    View Reports
                </button>
            </div>
        </div>

    </div>
</div>